@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-[color:var(--background-primary)] text-[color:var(--color-base)];
}

.shadow-box {
    box-shadow: var(--box-shadow);
}

::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}